@font-face {
  font-family: "Cafe24SSurroundAir";
  src: url("./Cafe24SsurroundAir.ttf");
}
@font-face {
  font-family: "NanumBrush";
  src: url("./NanumBrushScript-Regular.ttf");
}
@font-face {
  font-family: "NanumSon";
  src: url("./Nanumson.ttf");
}
html,
body {
  font-family: "Nanumson";
}
