@font-face {
  font-family: "CafeSurrond";
  src: url("./Cafe24SsurroundAir.ttf");
  font-display: block;
}
@font-face {
  font-family: "NanumBrush";
  src: url("./NanumBrushScript-Regular.ttf");
  font-display: block;
}
@font-face {
  font-family: "NanumSon";
  src: url("./Nanumson.ttf");
  font-display: block;
}

html,
body {
  font-family: "CafeSurrond", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0px;
  flex-direction: row;
  transition: background 4s;
  height: 100%;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  animation: backgroundAnim forwards 4s;

  -webkit-touch-callout: none;
}
img {
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none;
}
@keyframes backgroundAnim {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}

* {
  box-sizing: border-box;
}
